body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background: linear-gradient(45deg, #2cf83ae9,rgb(8, 103, 44));  
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
}

.container{
    text-align: center;
    padding: 20px;
    background: linear-gradient(45deg, #2cf83ae9,rgb(8, 103, 44));  
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    font-weight: bold;
    font-size: large;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff; 
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
}

.cell{
    width: 100px;
    height: 100px;
    background-color: #c1c1c1;
    color: #2c2c34;
    border-radius: 10px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover{
    background-color: #5ef25916;
    color: #ffffff;
}

#reset-button{
    margin: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #147225;
    border: none;
    border: purple;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset-button:hover{
    background-color: #23803c9e;
}

#status{
    font-size: 1.8em;
    margin-top: 20px;
    color: #0c631a;
}
